@import "sass/variables";
@import "sass/mixins";

header {
  width: 100%;
  display: flex;
  justify-content: center;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: clamp(17rem, 82.5%, 1100px);
  padding-top: 2.26rem;
  margin-bottom: 4rem;
  @include sm {
    padding-top: 3rem;
    margin-bottom: 6rem;
  }
  &__mobile {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    @include sm {
      display: none;
    }
    &-background {
      z-index: 9999;
      left: 0;
      top: 0;
      padding-top: 2.25rem;
      position: fixed;
      width: 100vw;
      height: 100vh;
      background: rgba(36, 42, 69, 0.95);
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    &-container {
      width: clamp(17.16rem, 82.5%, 24rem);
      display: flex;
      flex-direction: column;
      align-items: stretch;
      overflow: hidden;
      // display: none;
    }

    &-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 2.25rem;
    }
    &-logo {
      & > g > path {
        fill: $neutral-white;
      }
    }
    &-list {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-bottom: 12.25rem;
    }
    &-item {
      width: 100%;
      font-size: 1.11rem;
      font-weight: $font-regular;
      line-height: 17px;
      letter-spacing: 2.31px;
      text-transform: uppercase;
      padding: 1.3rem 0;
      text-align: center;
      color: $neutral-white;
      &:first-child {
        border-top: 1px solid rgba(255, 255, 255, 0.15);
      }
      &:not(:last-child) {
        border-bottom: 1px solid rgba(255, 255, 255, 0.15);
      }
      &:last-child {
        margin-top: 1.5rem;
        border: 2px solid $neutral-white;
        padding: 0.75rem 0;
        border-radius: 5px;
      }
    }
    &-footer {
      width: 22.25%;
      display: flex;
      justify-content: space-between;
      align-self: center;
    }
  }
  &__desktop {
    display: none;
    @include sm {
      display: block;
    }
  }
  &__list {
    display: flex;
    flex-direction: row;
    text-transform: uppercase;
    align-items: center;
    &-item {
      font-size: 0.72rem;
      line-height: 17px;
      letter-spacing: 1.5px;
      &:not(:last-child) {
        margin-right: 2.5rem;
      }
      &:last-child {
        padding: 0.5rem 1.75rem;
        background: $primary-soft-red;
        border: 2px solid $primary-soft-red;
        border-radius: 5px;
        color: $neutral-white;
        transition: all 250ms;
        &:hover {
          cursor: pointer;
          background: $neutral-white;
          color: $primary-soft-red;
        }
      }
      &:hover {
        cursor: pointer;
        color: $primary-soft-red;
        transition: all 250ms;
      }
    }
  }
}

.navAnimation {
  &-enter {
    opacity: 0;
    transform: translateY(-20vh);
    &-active {
      opacity: 1;
      transform: none;
      transition: all 250ms;
    }
  }
  &-exit {
    opacity: 1;
    &-active {
      opacity: 0;
      transform: scale(0.5);
      transition: all 250ms;
    }
  }
}

#nav__checkbox {
  display: none;
}

.opacity {
  opacity: 0;
}
